target/
/web/assembly/
/scraper/src/test/resources/testconfig.properties
/core/src/test/resources/testconfig.properties
/private/
/web/src/main/java/assets/compiled
/web/src/main/java/assets/js/combined.min.js
/scraper/src/test/java/com/serphacker/serposcope/scraper/google/scraper/GoogleScraperDebug.java

# java specific
*.log
*.class
*.war
*.ear
hs_err_pid*

#netbeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/

#eclipse
.settings
.buildpath
.project

#idea
*.iml
.idea/
/core/codegen/
/web/src/main/java/assets/combined.min.js
/web/src/main/java/assets/combined.js

#OSX specific
.DS_Store
