<configuration>
    
    <appender name="STDOUTX" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] [%t] %-5p %c{5} - %m%n</pattern>
        </encoder>
    </appender>
  

    <root level="WARN">
        <appender-ref ref="STDOUTX" />
    </root>
  
    <logger name="com.serphacker" level="TRACE" />
    <logger name="conf" level="TRACE" />
    <logger name="serposcope" level="TRACE" />
    <logger name="com.serphacker.serposcope.scraper.http.extensions" level="ERROR" />
    <!--<logger name="ninja" level="TRACE" />-->
    <!--<logger name="com.zaxxer.hikari" level="TRACE" />-->

</configuration>
