<#import "targetLayout.ftl.html" as layout> 
<@layout.googleTargetLayout  >
<div id="google-target-table-container" class="top15">
    <table id="google-target-table" class="table table-bordered table-condensed table-striped-column text-center" >
        <#if ranks?? >
        <thead>
            <tr>
                <th rowspan="2"></th>
                <#list years?keys as year>
                <td colspan="${years[year]}">${year}</td>
                </#list>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <#list months?keys as month>
                <td colspan="${months[month]}" >${month?substring(5)}</td>
                </#list>
            </tr>
            <tr class="sortable" >
                <th data-sort="string" ><i class="glyphicon glyphicon-sort"></i></th>
                <#list ranks?keys as day>
                <th data-sort="stripint" ><span data-toggle="tooltip" title="${day}" >${day?substring(8,10)}</span></th>
                </#list>
                <th data-sort="stripint" ><i class="fa fa-trophy" data-toggle="tooltip" title="${i18n("label.best")}" style="color: gold;" ></i></th>
            </tr>
            <tr>
                <th><em>#${i18n("label.calendar")}#</em></th>
                <#list ranks?keys as day>
                <td>
                    <#list events as event>
                    <#if event.getDay() == day.toLocalDate() >
                    <div class="fa fa-calendar calendar-annotation" 
                         title="${event.getTitle()}" data-content="${event.getDescription()}" ></div>
                    <#break/>
                    </#if>
                    </#list>
                </td>
                </#list>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <#list searches as search>
            <#assign best = bestRanks?api.get(search.getId()) >
            <#if best.getRunDay()?? >
                <#assign bestRunDay = best.getRunDay()?substring(0,10) >
            <#else>
                <#assign bestRunDay =i18n("label.neverRanked") >
            </#if>
            <tr>
                <th>
                    <#noescape>${fu.gsIcoInfos(search)}</#noescape>
                    <a href="${reverseRoute("google.GoogleSearchController","search","groupId",group.getId(),"searchId", search.getId())}" >${search.getKeyword()}</a></th>
                <#list ranks?keys as dayx>
                <#assign search_ranks = ranks?api.get(dayx) >
                <td>
                    <#if search_ranks?api.get(search.getId())?? >
                    <#assign rank = search_ranks?api.get(search.getId()) >
                    <span class="poptarget diff-${rank.getDiffClass()}" data-t-title="${rank.getDiff()}" data-p-title="${dayx?substring(0,10)}" data-content="${rank.getUrl()!"not provided"}"
                    >${rank.getRank()}</span>
                    </#if>
                </td>
                </#list>                    
                <td class="bestrank">
                    <span class="poptarget" data-t-title="${bestRunDay}"
                          data-p-title="${bestRunDay}" data-content="${best.getUrl()!"not provided"}">
                          <#if best.getRank() != 32767>${best.getRank()}<#else>-</#if>
                    </span>
                </td>                
            </tr>
            </#list>
            </#if>
        </tbody>
    </table>
</div>
</@>