<#import "targetLayout.ftl.html" as layout> 
<@layout.googleTargetLayout  >
<div id="google-target-variation-container" >
    <div class="row">
        <h2 class="text-center">
            <#if endDate??>${endDate}<#else>${i18n("label.noDataAvailable")}</#if>
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <#include "../../helpers/search-filter.ftl.html" />
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4" >
            <h4 class="text-center text-uppercase text-success">${i18n("home.improvedPositions")}</h4>
            <div id="variation-improved-grid" class="variation-grid" ></div>
        </div>
        <div class="col-md-4" >
            <h4 class="text-center text-uppercase text-danger">${i18n("home.lostPositions")}</h4>
            <div id="variation-lost-grid" class="variation-grid" ></div>
        </div>                    
        <div class="col-md-4" >
            <h4 class="text-center text-uppercase">${i18n("home.unchangedPositions")}</h4>
            <div id="variation-unchanged-grid" class="variation-grid" ></div>
        </div>
    </div>
</div>
<div id="variation-vars" 
     data-up="${jsonUp!"[]"}" 
     data-down="${jsonDown!"[]"}" 
     data-same="${jsonSame!"[]"}" 
></div>
</@>