<#macro unloggedLayout title="" >
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>${title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">            

        <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/unlogged.css">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="unlogged">

        <div class="container-fluid">
            <#nested/>
        </div>

        <script type="text/javascript" src="/assets/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
</#macro>