<#assign sideMenu>
<li>
    <span class="first-level"><i class="fa fa-cubes fw"></i> ${i18n("label.groups")}</span>
    <ul class="nav nav-second-level">
        <li>
            <div class="form-search form-group has-feedback has-feedback">
                <input id="sidebar-group-search" type="text" class="form-control" placeholder="${i18n("label.searchGroup")} ..." />
                       <i class="form-control-feedback glyphicon glyphicon-search"></i>
            </div>
        </li>
    </ul>
</li>
</#assign>
<#macro homeLayout title="" >
<#import "../layout/root.ftl.html" as layout> 
<@layout.rootLayout i18n("home.title") "${sideMenu}" >
<div class="home" >
    <div class="row" >
        <div class="col-xs-6 last-check" >
            <#if lastRun??>
                ${i18n("label.lastCheck")} : ${lastRun.getDay()}
            <#else>
                ${i18n("home.noSummary")}
            </#if>
        </div>
        <div class="col-xs-6" >
            
            <div class="home-right-links" >
                <div class="input-group">
                    <div class="input-group-btn" >
                        <a href="${reverseRoute("HomeController","home","display","summary")}" data-toggle="tooltip" title="${i18n("label.summary")}"
                            class="btn btn-default <#if display == "summary" >active</#if>" ><i class="fa fa-th-large"></i></a>
                        <a href="${reverseRoute("HomeController","home","display","table")}"data-toggle="tooltip" title="${i18n("label.table")}" 
                            class="btn btn-default <#if display == "table" >active</#if>" ><i class="fa fa-table"></i></a>            
                    </div>
                </div>    
            </div>            
            
            <div class="home-left-progress">
                <#if currentRun?? && currentRun.isRunning() >
                <span class="progress-label">${i18n("home.currentCheck")} <a href="${reverseRoute("admin.LogController","viewLog","log",global.lastlog)}")} >logs</a></span>
                <div class="progress" style="width: 100%; display: block;" title="${i18n("admin.task.remainingTime")} : ${currentRun.getRemainingTimeFormated()}" data-toggle="tooltip" >
                     <div 
                        class="progress-bar progress-bar-striped active <#if currentRun.getStatus() != "RUNNING" >progress-bar-warning</#if>" 
                        style="width: ${currentRun.getProgress()}%; min-width: 50px;"
                        >
                        <span>
                            <#if currentRun.getStatus() != "RUNNING" >${i18n("admin.task.aborting")}<#else>${currentRun.getProgress()} %</#if>
                        </span>
                    </div>
                </div>
                <#else>
                <div class="notrunning">${i18n("home.noRunningTask")}</div>
                </#if>
            </div>
            
        </div>
    </div>

    <#if lastRun?? >
    <#nested/>
    <#else>
    <div class="text-center" style="margin-top: 100px;" >
        <h1>${i18n("home.welcome")}</h1>
        <br/><br/>
        <img src="/assets/img/serposcope.png" />
        <br/><br/>
        <h3><#noescape>${i18n("home.quickStart")}</#noescape></h3>
    </div>
    </#if>
</div>
<div class="csp-script" data-src="HomeController.home" ></div>

</@>
</#macro>